/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #408e99;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.3s;
  /* 0.5 second transition effect to slide in the sidebar */
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");

}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  outline: none;
  border-style: none;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: rgb(255, 255, 255);
  border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */
@font-face {
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue-Regular.otf") format("OpenType");
}

@font-face {
  font-family: Helvetica;
  src: url("../fonts/Helvetica.ttf") format("TrueType");
}
@font-face{
  font-family: Hanson;
  src: url("../fonts/Hanson") format("OpenType");
}
@font-face{
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
}
.h2Titre {

  color: #ffffff;
  text-align: center;
  font-family: Hanson;
  src: url("../fonts/Hanson") format("OpenType");
}

/* banner */
#main {
  background: linear-gradient(176deg, rgba(0, 0, 0, 1) 0%, rgba(14, 53, 60, 1) 100%);
  color: #ffffff;
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
  display: block;
  margin: auto;
  display: block;
  margin: auto;

}

.banner {
  text-align: center;
}

.banner h1 {
  font-size: 100px;
  font-family: Hanson;
  src: url("../fonts/Hanson") format("OpenType");
}

.banner h5 {
  font-size: 50px;
  color: rgb(0, 26, 255);
}

.btnCard {
  background-color: rgb(255, 255, 255);
  color: #222222;
  display: block;
  margin: auto;
  outline: none !important;
  border-radius: 20px;
  border: none;
  width: 100px;
}

.card-body {
  text-align: center;
  background-color: #22607d;
  color: #f1f1f1;
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");

}
.card-header{
  color:rgb(0, 26, 255);
  font-weight: bold;
}

.card-title,
.card-subtitle {
  font-size: 15px;
}

.modal {
  color: #222222;
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
}

.submit {
  background-color: #408e99;
  color: #000000;
  font-family: Hanson;
  src: url("../fonts/Hanson") format("OpenType");
  border-radius: 20px;
  border: none;

}

.submit:hover {
  background-color: #408e99;
}

.param {
  color: black;
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
 
  font-size: 20px;
}

.desciptionModal {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
}

.linkArticle {
  color: white !important;
  background-color: black !important;
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf") format("TrueType");
  border: none;
  text-decoration: none;
  border-radius: 20px;
}

.linkArticle:hover {
  color: #ffffff !important;
  background-color: white !important;
  border: 1px solid black;
  margin: 20px !important;
}

.modalClose:hover {
  color: #000000 !important;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 50%;
    height: auto;
    position: fixed;
    font-size: 10px
  }

  .sidebar a {
    float: left;
  }

  .banner {
    text-align: center;
  }

  .banner h1 {
    font-size: 60px;
    font-family: Hanson;
    src: url("../fonts/Hanson") format("OpenType");
  }

  .banner h5 {
    font-size: 30px;
  }
}

.card-img-top {
  filter: grayscale(100%)
}


@media screen and (max-width: 450px) {
  .sidebar {

    height: 100vh;
    position: fixed;
    font-size: 10px
  }

  .sidebar a {
    float: left;
  }

  .banner h1 {
    font-size: 30px;
    text-align: center;
  }

  .banner h5 {
    font-size: 20px;
    text-align: start;
  }
}

.cardheader {
  color: rgb(0, 26, 255);
  margin: 5px;
}


.foot{
  background-color:  rgba(14, 53, 60, 1) !important;
  color: #f1f1f1 !important;
  font-family: Montserrat !important;
  src: url("../fonts/Montserrat.ttf") format("TrueType") !important;
  }
  .foot a{
    text-decoration: none !important;
    color: #f1f1f1 !important;
  }
  .foot a:hover{
    text-decoration: none !important;
    color: #000000 !important;
  }