/* The sidebar menu */
body{
      cursor: url("../img/unicorn.cur"), default;
    }

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(255, 134, 174);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  
  
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: rgb(252, 252, 252);
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: #000000;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: black;
  border: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
 
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
} */
  @font-face {
    font-family: BebasNeue-Regular;
    src: url("../fonts/BebasNeue-Regular.otf") format("OpenType");
  }
  @font-face {
    font-family:  Helvetica;
    src: url("../fonts/Helvetica.ttf") format("TrueType");
  }
  
  .h2Titre{
    background-color: rgb(255, 255, 255);
    color: #ff93c0;
    text-align: center;
    font-family: BebasNeue-Regular;
    src: url("../fonts/BebasNeue-Regular.otf") format("OpenType");
  }
  /* banner */
  #main{
    color: #070000;
    font-family: BebasNeue-Regular;
    src: url("../fonts/BebasNeue-Regular.otf") format("OpenType");
    display: block;
    margin: auto;
    background: linear-gradient(124deg, #ff39ce, #ff008c, #e989c4, #80014f, #c489a6, #990047, #97237a, #dd00f3, #a00070);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
    
  
  .banner{
    text-align: center;
  }
  .banner h1{
    font-size: 100px;
  color: rgb(255, 0, 128);
  }
  .banner h5{
    font-size: 50px;
    text-align: start !important;
  }
  .btnCard{
    background-color: rgb(255, 255, 255);
    color: #222222;
    display: block;
    margin: auto;
    outline: none !important;
    border-radius: 20px;
    border: none;
    width: 100px;
  }
  .card-body{
    text-align: center; 
   background-color: #ff0040;
    font-family:  Helvetica;
    src: url("../fonts/Helvetica.ttf") format("TrueType");
  }
.card-title, .card-subtitle{
 font-size: 15px;
}
.modal{
  color: #222222; 
  font-family:  Helvetica;
  src: url("../fonts/Helvetica.ttf") format("TrueType");
}
.submit{

  color: #070000;
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue-Regular.otf") format("OpenType");
  border-radius: 20px;
  border: none;

}
.submit:hover{
  background-color: white;;
}
.param{
  color: black;
  /* font-family:  Helvetica;
    src: url("../fonts/Helvetica.ttf") format("TrueType"); */
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue-Regular.otf") format("OpenType");
  font-size: 20px;
}
.desciptionModal{
    font-family:  Helvetica;
    src: url("../fonts/Helvetica.ttf") format("TrueType");
}
.linkArticle{
  color: white !important;
  background-color: black !important;
  font-family:  Helvetica;
    src: url("../fonts/Helvetica.ttf") format("TrueType");
    border: none;
    text-decoration: none;
    border-radius: 20px;
}
.linkArticle:hover{
  color: #f773b1 !important;
  background-color: white !important;
  border: 1px solid black;
}
.modalClose:hover{
  color: #f560b7 !important;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 50%;
    height: auto;
    position: fixed;
    font-size: 10px
  }
  .sidebar a {float: left;}
  .banner{
    text-align:center;
  }
  .banner h1{
    font-size: 60px;
  }
  .banner h5{
    font-size: 30px;
  }
}

.card-img-top
{
filter: hue-rotate(90deg)
}
@media screen and (max-width: 450px){
  .sidebar {
   
    height: 100vh;
    position: fixed;
    font-size: 10px
  }
  .sidebar a {float: left;}
  
  .banner h1{
    font-size: 40px;
    text-align:center;
  }
  .banner h5{
    font-size: 20px;
    text-align:start;
  }
} 




@media screen and (max-width: 700px) {
  .sidebar {
    
    height: 100vh;
    position: fixed;
    font-size: 10px
  }
  .sidebar a {float: left;}
  .banner{
    text-align:start;
  }
  .banner h1{
    font-size: 60px;
    text-align:center;
  }
  .banner h5{
    font-size: 30px;
    text-align:start;
    margin-left: 60px;
  }
}
@media screen and (max-width: 450px){
  .sidebar {
   
    height: 100vh;
    position: fixed;
    font-size: 10px
  }
  .sidebar a {float: left;}
  
  .banner h1{
    font-size: 40px;
    text-align:center;
  }
  .banner h5{
    font-size: 20px;
    text-align:start;
  }
} 

.foot{
  background-color: rgb(255, 134, 174)  !important;
  color: #000000 !important;
  }

  .mention{
    text-decoration: none !important;
    color: #000000 !important;
  }
  .mention:hover{
    text-decoration: none !important;
    color: white !important;
  }
  .card-header{
    background-color: #f355cc !important;
color: #80014f !important;
  }